{% extends 'admin/base.html.twig' %}

{% block title %}Mon CV {% endblock %}
{% block body  %}

    <div class="row">
        <div class="col-md-6">
                <a class="btn btn-danger" href="{{path('admin_resume_save')}}">
                    Ajout nouvel élément
                </a>
                
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                     <h5 class="card-title"><i class="nc-icon nc-briefcase-24"></i> Expériences pro.</h5>
                </div>
                <div class="card-body">
                {% for w in works %}
                <div class="item">
                
                    <h6>{{w.title}}</h6>
                    {{w.location}} -
                    <i>{{w.start|date('F Y')}}
                    {% if w.ongoing == true %}
                    - en cours</i>
                    {% else %}
                    - {{w.end|date('F Y')}}</i> 
                    {% endif %}
                    
                    <p> <b>Description</b>
                    {{w.description|markdown}}
                    </p>
                    <div class="update ml-auto mr-auto">
                      <a href="{{path('admin_resume_edit', {'id': w.id})}}" class="btn btn-primary btn-round">Éditer</a>
                      <a href="{{path('admin_resume_delete', {'id': w.id})}}" class="btn btn-danger btn-round">Supprimer</a>
                    </div>
                
                    <hr>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                     <h5 class="card-title"> <i class="nc-icon nc-hat-3"></i> Formations</h5>
                </div>
                <div class="card-body">
                {% for s in schools %}
                <div class="item">
                
                    <h6>{{s.title}}</h6>
                    {{s.location}} -
                    <i>{{s.start|date('F Y')}} 
                     {% if s.ongoing == true %}
                    - en cours</i>
                    {% else %}
                    - {{s.end|date('F Y')}}</i> 
                    {% endif %}</i>
                    <p> <b>Description</b>
                    {{s.description|markdown}}</p>
                    <div class="update ml-auto mr-auto">
                      <a href="{{path('admin_resume_edit', {'id': s.id})}}" class="btn btn-primary btn-round">Éditer</a>
                      <a href="{{path('admin_resume_delete', {'id': s.id})}}" class="btn btn-danger btn-round">Supprimer</a>
                    </div>
                    <hr>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>



{% endblock %}
